.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore
composer.lock
LICENSE.md export-ignore
README.md export-ignore

# folders.
Tests export-ignore
vendor export-ignore
