includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ArrayTrait.php
        - BootstrapManager.php
        - TestCaseTrait.php
        - VirtualFilesystemDirect.php
        - VirtualFilesystemTestTrait.php
        - bootstrap-functions.php
        - Integration/
        - Unit/
        - Fixtures/
        - Tests/
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
